node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/1.pack.gz
.next/cache/webpack/client-development-fallback/2.pack.gz
.next/cache/webpack/client-development-fallback/3.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/vendor-chunks/@radix-ui+primitive@1.1.0.js
.next/server/vendor-chunks/@radix-ui+react-collection@1.1.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-compose-refs@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-context@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-direction@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-id@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-label@2.1.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-presence@1.1.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-primitive@2.0.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-roving-focus@1.1.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3_cajwvjnicms5c7wlgrp4qmseb4.js
.next/server/vendor-chunks/@radix-ui+react-slot@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-tabs@1.1.0_@types+react-dom@18.3.0_@types+react@18.3.5_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-callback-ref@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-controllable-state@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@radix-ui+react-use-layout-effect@1.1.0_@types+react@18.3.5_react@18.3.1.js
.next/server/vendor-chunks/@swc+helpers@0.5.5.js
.next/server/vendor-chunks/class-variance-authority@0.7.0.js
.next/server/vendor-chunks/clsx@2.0.0.js
.next/server/vendor-chunks/clsx@2.1.1.js
.next/server/vendor-chunks/lucide-react@0.439.0_react@18.3.1.js
.next/server/vendor-chunks/next@14.2.8_react-dom@18.3.1_react@18.3.1__react@18.3.1.js
.next/server/vendor-chunks/tailwind-merge@2.5.2.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/6d93bde91c0c2823-s.woff2
.next/static/media/26a46d62cd723877-s.woff2
.next/static/media/55c55f0601d81cf3-s.woff2
.next/static/media/97e0cb1ae144a2a9-s.woff2
.next/static/media/581909926a08bbc8-s.woff2
.next/static/media/a34f9d1faa5f3315-s.p.woff2
.next/static/media/df0a9ae256c0569c-s.woff2
.next/static/webpack/14119c1c94ef1462.webpack.hot-update.json
.next/static/webpack/76413ef6d2490da3.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a05ca65ecc9662d0.webpack.hot-update.json
.next/static/webpack/c2ad0c41a5f2d02a.webpack.hot-update.json
.next/static/webpack/c73a2920c5abac69.webpack.hot-update.json
.next/static/webpack/webpack.14119c1c94ef1462.hot-update.js
.next/static/webpack/webpack.76413ef6d2490da3.hot-update.js
.next/static/webpack/webpack.a05ca65ecc9662d0.hot-update.js
.next/static/webpack/webpack.c2ad0c41a5f2d02a.hot-update.js
.next/static/webpack/webpack.c73a2920c5abac69.hot-update.js
.next/static/webpack/app/layout.14119c1c94ef1462.hot-update.js
.next/static/webpack/app/layout.76413ef6d2490da3.hot-update.js
.next/static/webpack/app/layout.a05ca65ecc9662d0.hot-update.js
.next/static/webpack/app/layout.c2ad0c41a5f2d02a.hot-update.js
.next/static/webpack/app/layout.c73a2920c5abac69.hot-update.js
.next/static/webpack/app/page.c2ad0c41a5f2d02a.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
